DEBUG=false
APP_PORT=8000
APP_WORKERS=4

POSTGRES_DB=rent_crm
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_ACCESS_SECRET_KEY=change-me
JWT_ACCESS_ALGORITHM=HS256
JWT_ACCESS_EXPIRE=15m

JWT_REFRESH_ALGORITHM=HS256
JWT_REFRESH_EXPIRE=7d
